<!DOCTYPE html >
<html lang="en" ng-app="minmax" >
<head >
	<title >Form Validation - Part 1</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="main.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form Validation - Part 1
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl" >

	<form name="theForm" ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate">
		<div class="form-group" ng-class="{
			'has-error':!theForm.name.$valid && (!theForm.$pristine || theForm.$submitted),
			'has-success':theForm.name.$valid && (!theForm.$pristine || theForm.$submitted)}">
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.name"
				   name="name"
			       id="name" >
			<p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">This field is required</p>
		</div >
		<!--For ng-class we will use below pre field data
		  with has-error if its not valid !theForm.email.$valid
		  with has-success if its valid theForm.email.$valid -->
		<div class="form-group" ng-class="{
			'has-error':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
			'has-success':theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)}">
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
			       ng-model="formModel.email"
			       id="email"
			       name="email"
			       required="required" >
		</div >
		<p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
			This field is required.
		</p>
		<p class="help-block" ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
			Please enter an email with at least an @ symbol.
		</p>
		<!-- To look at the more detailed error will use $error with filtering of
		 json -->
		<!--<pre>Validation {{ theForm.email.$error | json }}</pre>-->
		<!--&lt;!&ndash; To debug the field valid or not with json&ndash;&gt;-->
		<!--<pre>Fieldvalid? {{ theForm.email.$valid }}</pre>-->
		<!--<pre>Fieldpristine? {{ theForm.$pristine }}</pre>-->

		<!--&lt;!&ndash; To show the error condition when we try to submit the form&ndash;&gt;-->
		<!--<pre>Form submitted? {{ theForm.$submitted }}</pre>-->

		<div class="form-group" ng-class="{
		'has-error':!theForm.username.$valid && (!theForm.$pristine || theForm.$submitted),
		'has-success':theForm.username.$valid && (!theForm.$pristine || theForm.$submitted)}">
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.username"
				   name="username"
			       id="username" >
			<p class="help-block" ng-show="!theForm.username.$error.required && (!theForm.$pristine || theForm.$submitted)">This field is required.</p>
		</div >

		<div class="form-group" ng-class="{
		'has-error':!theForm.age.$valid && (!theForm.$pristine || theForm.$submitted),
		'has-success':theForm.age.$valid && (!theForm.$pristine || theForm.$submitted)}">
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
			       ng-model="formModel.age"
				   name="age"
			       id="age" >
			<p class="help-block" ng-show="!theForm.age.$error.required && (!theForm.$pristine || theForm.$submitted )">This field is required</p>
		</div >

		<div class="form-group" ng-class="{
		'has-error':!theForm.sex.$valid && (!theForm.$pristine || theForm.$submitted),
		'has-success':theForm.sex.$valid && (!theForm.$pristine || theForm.$submitted)}">
			<label for="sex" >Sex</label >
			<select name="sex"
			        id="sex"
			        class="form-control"
			        ng-model="formModel.sex" >
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
			<p class="help-block" ng-show="!theForm.sex.$error.required && (!theForm.$pristine || theForm.$submitted)">Selection is required</p>
		</div >

		<div class="form-group" ng-class="{
		'has-error':!theForm.password.$valid && (!theForm.$pristine || theForm.$submitted),
		'has-success':theForm.password.$valid && (!theForm.$pristine || theForm.$submitted)}">
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formModel.password"
				   name="password"
			       id="password" >
			<p class="help-block" ng-show="!theForm.password.$error.required && (!theForm.$pristine || theForm.$submitted)">This field is required.</p>
		</div >

		<div class="form-group" >
			<button class="btn btn-primary"
			        type="submit" >Register
			</button >
		</div >

	</form >

	<pre>{{ theForm | json }}</pre>

</div >


<script src="../libs/angular/angular.min.js" ></script >
<script src="main.js" ></script >


</body >
</html >
